In [3]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 

data = pd.read_csv("20120901_20190916-PM10_auto.csv",sep=';') 

data.head()

,date,heure,LOGNES,GEN,NOGENT,GON,DEF,A1,PA15L,CERGY,...,ISSY,HAUS,VITRY,AUT,BASCH,ELYS,RD934,TREMB,BP_EST,RAMBO
0,NaN,NaN,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,...,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3
1,01/09/2012,1.0,13,14,12,12,14,26,n/d,14,...,14,14,14,42,18,22,n/d,13,n/d,n/d
2,01/09/2012,2.0,13,16,12,12,13,26,n/d,14,...,12,13,13,37,18,22,n/d,11,n/d,n/d
3,01/09/2012,3.0,13,20,14,12,13,n/d,n/d,14,...,13,14,16,34,20,21,n/d,12,n/d,n/d
4,01/09/2012,4.0,13,18,13,13,15,30,n/d,16,...,13,17,17,38,22,27,n/d,13,n/d,n/d