In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
from datetime import datetime

# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics
username = 'aetyang'
password = 'yanggnay'
host = 'paris-metro-air.ck2ykifurmwj.us-east-2.rds.amazonaws.com'
port = '5432'
db_name  = 'frankl_pm10_db'
#username = 'postgres'
#password = 'yanggnay'     # change this
#host     = 'localhost'
#port     = '5432'            # default port that postgres listens on
#db_name  = 'frankl_pm10_db'

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

postgresql://aetyang:yanggnay@paris-metro-air.ck2ykifurmwj.us-east-2.rds.amazonaws.com:5432/frankl_pm10_db
True

In [2]:
birth_data = pd.read_pickle('franklin-d-roosevelt/PM10_hourly_forecast.pkl')
birth_data.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
10331,2019-10-13 15:00:00,38.135610,-5.396059,88.522298,26.077788,50.537085,2.671453,2.671453,2.671453,14.550529,14.550529,14.550529,-11.879077,-11.879077,-11.879077,0.0,0.0,0.0,40.807063
10332,2019-10-13 16:00:00,38.104717,-10.915127,84.711214,25.932196,50.579152,-1.605984,-1.605984,-1.605984,9.389196,9.389196,9.389196,-10.995180,-10.995180,-10.995180,0.0,0.0,0.0,36.498733
10333,2019-10-13 17:00:00,38.073824,-20.328137,78.634674,25.777073,50.651381,-7.345162,-7.345162,-7.345162,2.731834,2.731834,2.731834,-10.076996,-10.076996,-10.076996,0.0,0.0,0.0,30.728662
10334,2019-10-13 18:00:00,38.042931,-21.116523,79.370943,25.621950,50.670367,-11.703783,-11.703783,-11.703783,-2.573522,-2.573522,-2.573522,-9.130260,-9.130260,-9.130260,0.0,0.0,0.0,26.339148
10335,2019-10-13 19:00:00,38.012038,-21.997401,71.131085,25.466828,50.688115,-13.201513,-13.201513,-13.201513,-5.040653,-5.040653,-5.040653,-8.160860,-8.160860,-8.160860,0.0,0.0,0.0,24.810525

In [3]:
# merge two dataframes matching
street_data = pd.read_pickle('groundLevel/ground_PM10_hourly_forecast.pkl')

stree_data_cut = street_data[['ds','yhat','yhat_lower','yhat_upper']]
stree_data_cut = stree_data_cut.rename(columns={"yhat": "yhat_st", "yhat_lower": "yhat_lower_st","yhat_upper": "yhat_upper_st"})

df1 = birth_data
df2 = stree_data_cut
df_merge = df1.merge(df2, left_on='ds', right_on='ds', how='inner')
df_merge.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat,yhat_st,yhat_lower_st,yhat_upper_st
10223,2019-10-13 15:00:00,38.135610,-5.396059,88.522298,26.077788,50.537085,2.671453,2.671453,2.671453,14.550529,...,-11.879077,-11.879077,-11.879077,0.0,0.0,0.0,40.807063,21.678471,1.764264,39.476476
10224,2019-10-13 16:00:00,38.104717,-10.915127,84.711214,25.932196,50.579152,-1.605984,-1.605984,-1.605984,9.389196,...,-10.995180,-10.995180,-10.995180,0.0,0.0,0.0,36.498733,21.403581,2.881709,40.317671
10225,2019-10-13 17:00:00,38.073824,-20.328137,78.634674,25.777073,50.651381,-7.345162,-7.345162,-7.345162,2.731834,...,-10.076996,-10.076996,-10.076996,0.0,0.0,0.0,30.728662,21.187402,0.302491,39.699289
10226,2019-10-13 18:00:00,38.042931,-21.116523,79.370943,25.621950,50.670367,-11.703783,-11.703783,-11.703783,-2.573522,...,-9.130260,-9.130260,-9.130260,0.0,0.0,0.0,26.339148,20.916363,1.680953,41.111331
10227,2019-10-13 19:00:00,38.012038,-21.997401,71.131085,25.466828,50.688115,-13.201513,-13.201513,-13.201513,-5.040653,...,-8.160860,-8.160860,-8.160860,0.0,0.0,0.0,24.810525,20.281078,-0.049670,39.072617

In [4]:
# merge with historical data

In [5]:
# label quality
import numpy as np
df_merge['label'] = np.zeros(len(df_merge))
conditions = [
    (df_merge['yhat'] <=154) & (df_merge['yhat'] >54),
    (df_merge['yhat'] <=254) & (df_merge['yhat'] >154),]
choices = [1,2]
df_merge['label'] = np.select(conditions, choices, default=0)
#print(df_merge.label)
#import matplotlib.pyplot as plt
#plt.plot(df_merge.label[:100])

In [ ]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
df_merge.to_sql('frankl_pm10_table', engine, if_exists='replace')