In [15]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics
username = 'postgres'
password = 'yanggnay'     # change this
host     = 'localhost'
port     = '5432'            # default port that postgres listens on
db_name  = 'frankl_pm10_db'

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

postgresql://postgres:yanggnay@localhost:5432/frankl_pm10_db
True

In [16]:
birth_data = pd.read_pickle('franklin-d-roosevelt/PM10_hourly_forecast.pkl')

## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
birth_data.to_sql('frankl_pm10_db', engine, if_exists='replace')

In [17]:
birth_data.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
2163,2019-07-13 00:00:00,54.674745,-7.026621,54.052222,38.622071,71.266469,-29.905125,-29.905125,-29.905125,-26.101474,-26.101474,-26.101474,-3.803651,-3.803651,-3.803651,0.0,0.0,0.0,24.769620
2164,2019-07-13 01:00:00,54.694988,-7.697601,57.198505,38.514329,71.347714,-29.105157,-29.105157,-29.105157,-24.562476,-24.562476,-24.562476,-4.542681,-4.542681,-4.542681,0.0,0.0,0.0,25.589831
2165,2019-07-13 02:00:00,54.715230,3.049750,66.829536,38.299366,71.425313,-18.366395,-18.366395,-18.366395,-13.073451,-13.073451,-13.073451,-5.292944,-5.292944,-5.292944,0.0,0.0,0.0,36.348835
2166,2019-07-13 03:00:00,54.735473,21.779609,85.418635,38.145805,71.657772,-1.809285,-1.809285,-1.809285,4.240630,4.240630,4.240630,-6.049915,-6.049915,-6.049915,0.0,0.0,0.0,52.926188
2167,2019-07-13 04:00:00,54.755715,36.217980,101.339883,37.997290,71.865445,12.238703,12.238703,12.238703,19.047604,19.047604,19.047604,-6.808901,-6.808901,-6.808901,0.0,0.0,0.0,66.994418