In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics
username = 'postgres'
password = 'yanggnay'     # change this
host     = 'localhost'
port     = '5432'            # default port that postgres listens on
db_name  = 'frankl_pm10_db'

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

postgresql://postgres:yanggnay@localhost:5432/frankl_pm10_db
True

In [2]:
birth_data = pd.read_pickle('franklin-d-roosevelt/PM10_hourly_forecast.pkl')

In [3]:
birth_data = birth_data[len(birth_data)-336:]
birth_data.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1163,2019-09-29 15:00:00,65.766859,23.785913,159.174900,25.438489,114.681027,22.183292,22.183292,22.183292,31.075784,31.075784,31.075784,-8.892491,-8.892491,-8.892491,0.0,0.0,0.0,87.950151
1164,2019-09-29 16:00:00,65.848555,14.800277,148.755411,25.033001,115.288379,12.656863,12.656863,12.656863,19.994291,19.994291,19.994291,-7.337428,-7.337428,-7.337428,0.0,0.0,0.0,78.505418
1165,2019-09-29 17:00:00,65.930251,2.321942,139.491693,24.892860,115.838874,-0.029554,-0.029554,-0.029554,5.767886,5.767886,5.767886,-5.797440,-5.797440,-5.797440,0.0,0.0,0.0,65.900698
1166,2019-09-29 18:00:00,66.011947,-3.779711,131.905572,24.358970,116.340300,-7.561238,-7.561238,-7.561238,-3.275658,-3.275658,-3.275658,-4.285580,-4.285580,-4.285580,0.0,0.0,0.0,58.450710
1167,2019-09-29 19:00:00,66.093643,-1.989168,133.193212,23.775340,116.814854,-5.491815,-5.491815,-5.491815,-2.677419,-2.677419,-2.677419,-2.814396,-2.814396,-2.814396,0.0,0.0,0.0,60.601828

In [4]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
birth_data.to_sql('frankl_pm10_table', engine, if_exists='replace')