In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
from datetime import datetime

# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics
username = 'aetyang'
password = 'yanggnay'
host = 'paris-metro-air.ck2ykifurmwj.us-east-2.rds.amazonaws.com'
port = '5432'
db_name  = 'frankl_pm10_db'

#username = 'postgres'
#password = 'yanggnay'     # change this
#host     = 'localhost'
#port     = '5432'            # default port that postgres listens on
#db_name  = 'frankl_pm10_db'

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )

#from sqlalchemy import event # https://github.com/pandas-dev/pandas/issues/15276
#@event.listens_for(engine, 'before_cursor_execute')
#def receive_before_cursor_execute(conn, cursor, statement, params, context, executemany):
#    if executemany:
#        cursor.fast_executemany = True
#        cursor.commit()
        
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

postgresql://aetyang:yanggnay@paris-metro-air.ck2ykifurmwj.us-east-2.rds.amazonaws.com:5432/frankl_pm10_db
True

In [2]:
birth_data = pd.read_pickle('franklin-d-roosevelt/PM10_hourly_forecast.pkl')
birth_data.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
5715,2019-11-12 15:00:00,-22.076726,-113.790969,123.449148,-138.388273,89.812354,28.564804,28.564804,28.564804,23.246036,23.246036,23.246036,5.318768,5.318768,5.318768,0.0,0.0,0.0,6.488078
5716,2019-11-12 16:00:00,-22.133631,-122.044507,113.246729,-138.615748,90.001482,21.631817,21.631817,21.631817,16.430747,16.430747,16.430747,5.201071,5.201071,5.201071,0.0,0.0,0.0,-0.501814
5717,2019-11-12 17:00:00,-22.190536,-130.329482,104.940146,-138.843223,90.245606,11.819657,11.819657,11.819657,6.714601,6.714601,6.714601,5.105056,5.105056,5.105056,0.0,0.0,0.0,-10.370879
5718,2019-11-12 18:00:00,-22.247441,-139.819859,98.269804,-139.070698,90.489730,3.801418,3.801418,3.801418,-1.228843,-1.228843,-1.228843,5.030262,5.030262,5.030262,0.0,0.0,0.0,-18.446023
5719,2019-11-12 19:00:00,-22.304347,-139.795573,93.075645,-139.297222,90.733854,0.454760,0.454760,0.454760,-4.521114,-4.521114,-4.521114,4.975874,4.975874,4.975874,0.0,0.0,0.0,-21.849586

In [3]:
# merge two dataframes matching
street_data = pd.read_pickle('groundLevel/ground_PM10_hourly_forecast.pkl')

stree_data_cut = street_data[['ds','yhat','yhat_lower','yhat_upper']]
stree_data_cut = stree_data_cut.rename(columns={"yhat": "yhat_st", "yhat_lower": "yhat_lower_st","yhat_upper": "yhat_upper_st"})

df1 = birth_data
df2 = stree_data_cut
df_merge = df1.merge(df2, left_on='ds', right_on='ds', how='inner')
df_merge.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat,yhat_st,yhat_lower_st,yhat_upper_st
5702,2019-11-12 15:00:00,-22.076726,-113.790969,123.449148,-138.388273,89.812354,28.564804,28.564804,28.564804,23.246036,...,5.318768,5.318768,5.318768,0.0,0.0,0.0,6.488078,14.913746,-2.408014,34.208616
5703,2019-11-12 16:00:00,-22.133631,-122.044507,113.246729,-138.615748,90.001482,21.631817,21.631817,21.631817,16.430747,...,5.201071,5.201071,5.201071,0.0,0.0,0.0,-0.501814,13.751331,-5.085749,32.465838
5704,2019-11-12 17:00:00,-22.190536,-130.329482,104.940146,-138.843223,90.245606,11.819657,11.819657,11.819657,6.714601,...,5.105056,5.105056,5.105056,0.0,0.0,0.0,-10.370879,12.616295,-5.319126,31.591454
5705,2019-11-12 18:00:00,-22.247441,-139.819859,98.269804,-139.070698,90.489730,3.801418,3.801418,3.801418,-1.228843,...,5.030262,5.030262,5.030262,0.0,0.0,0.0,-18.446023,11.501007,-6.778109,30.196979
5706,2019-11-12 19:00:00,-22.304347,-139.795573,93.075645,-139.297222,90.733854,0.454760,0.454760,0.454760,-4.521114,...,4.975874,4.975874,4.975874,0.0,0.0,0.0,-21.849586,10.057973,-7.852639,28.370745

In [4]:
# label quality
import numpy as np
df_merge['label'] = np.zeros(len(df_merge))
conditions = [
    (df_merge['yhat'] <=154) & (df_merge['yhat'] >54),
    (df_merge['yhat'] <=254) & (df_merge['yhat'] >154),]
choices = [1,2]
df_merge['label'] = np.select(conditions, choices, default=0)
df_merge = df_merge[-1000:-1]
df_merge.tail()
#print(df_merge.label)
#import matplotlib.pyplot as plt
#plt.plot(df_merge.label[:100])

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat,yhat_st,yhat_lower_st,yhat_upper_st,label
5701,2019-11-12 14:00:00,-22.019820,-113.103209,121.114831,-138.160798,89.661166,29.784413,29.784413,29.784413,24.326178,...,5.458234,5.458234,0.0,0.0,0.0,7.764593,15.642430,-1.877780,34.723927,0
5702,2019-11-12 15:00:00,-22.076726,-113.790969,123.449148,-138.388273,89.812354,28.564804,28.564804,28.564804,23.246036,...,5.318768,5.318768,0.0,0.0,0.0,6.488078,14.913746,-2.408014,34.208616,0
5703,2019-11-12 16:00:00,-22.133631,-122.044507,113.246729,-138.615748,90.001482,21.631817,21.631817,21.631817,16.430747,...,5.201071,5.201071,0.0,0.0,0.0,-0.501814,13.751331,-5.085749,32.465838,0
5704,2019-11-12 17:00:00,-22.190536,-130.329482,104.940146,-138.843223,90.245606,11.819657,11.819657,11.819657,6.714601,...,5.105056,5.105056,0.0,0.0,0.0,-10.370879,12.616295,-5.319126,31.591454,0
5705,2019-11-12 18:00:00,-22.247441,-139.819859,98.269804,-139.070698,90.489730,3.801418,3.801418,3.801418,-1.228843,...,5.030262,5.030262,0.0,0.0,0.0,-18.446023,11.501007,-6.778109,30.196979,0

In [5]:
## REMEMBER TO DO PKILL GUNICORN!!!!!!!!!!!!!!!!!!!!
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
df_merge.to_sql('frankl_pm10_table', engine, if_exists='replace')