In [28]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
from datetime import datetime

# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics
username = 'postgres'
password = 'yanggnay'     # change this
host     = 'localhost'
port     = '5432'            # default port that postgres listens on
db_name  = 'frankl_pm10_db'

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

postgresql://postgres:yanggnay@localhost:5432/frankl_pm10_db
True

In [29]:
birth_data = pd.read_pickle('franklin-d-roosevelt/PM10_hourly_forecast.pkl')
birth_data.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
20667,2019-10-20 15:00:00,40.966125,-31.431988,85.645772,32.835722,50.807811,-15.678637,-15.678637,-15.678637,14.591241,...,-13.930936,-13.930936,-13.930936,-16.338942,-16.338942,-16.338942,0.0,0.0,0.0,25.287489
20668,2019-10-20 16:00:00,40.966486,-34.324859,73.255764,32.792892,50.829573,-21.692219,-21.692219,-21.692219,7.458080,...,-12.765223,-12.765223,-12.765223,-16.385077,-16.385077,-16.385077,0.0,0.0,0.0,19.274267
20669,2019-10-20 17:00:00,40.966847,-44.064657,69.324403,32.738089,50.851335,-28.499893,-28.499893,-28.499893,-0.494376,...,-11.574260,-11.574260,-11.574260,-16.431258,-16.431258,-16.431258,0.0,0.0,0.0,12.466953
20670,2019-10-20 18:00:00,40.967208,-45.130112,62.311411,32.684241,50.873097,-33.718474,-33.718474,-33.718474,-6.876148,...,-10.364842,-10.364842,-10.364842,-16.477483,-16.477483,-16.477483,0.0,0.0,0.0,7.248734
20671,2019-10-20 19:00:00,40.967568,-53.419756,56.831644,32.636588,50.914977,-36.511683,-36.511683,-36.511683,-10.844159,...,-9.143771,-9.143771,-9.143771,-16.523753,-16.523753,-16.523753,0.0,0.0,0.0,4.455886

In [30]:
# merge two dataframes matching
street_data = pd.read_pickle('groundLevel/ground_PM10_hourly_forecast.pkl')

stree_data_cut = street_data[['ds','yhat','yhat_lower','yhat_upper']]
stree_data_cut = stree_data_cut.rename(columns={"yhat": "yhat_st", "yhat_lower": "yhat_lower_st","yhat_upper": "yhat_upper_st"})

df1 = birth_data
df2 = stree_data_cut
df_merge = df1.merge(df2, left_on='ds', right_on='ds', how='inner')
df_merge.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat,yhat_st,yhat_lower_st,yhat_upper_st
20534,2019-10-20 15:00:00,40.966125,-31.431988,85.645772,32.835722,50.807811,-15.678637,-15.678637,-15.678637,14.591241,...,-16.338942,-16.338942,-16.338942,0.0,0.0,0.0,25.287489,34.093491,15.304307,52.462279
20535,2019-10-20 16:00:00,40.966486,-34.324859,73.255764,32.792892,50.829573,-21.692219,-21.692219,-21.692219,7.458080,...,-16.385077,-16.385077,-16.385077,0.0,0.0,0.0,19.274267,33.682905,14.875158,52.486166
20536,2019-10-20 17:00:00,40.966847,-44.064657,69.324403,32.738089,50.851335,-28.499893,-28.499893,-28.499893,-0.494376,...,-16.431258,-16.431258,-16.431258,0.0,0.0,0.0,12.466953,33.162609,14.030943,52.925293
20537,2019-10-20 18:00:00,40.967208,-45.130112,62.311411,32.684241,50.873097,-33.718474,-33.718474,-33.718474,-6.876148,...,-16.477483,-16.477483,-16.477483,0.0,0.0,0.0,7.248734,32.574484,13.726927,50.526517
20538,2019-10-20 19:00:00,40.967568,-53.419756,56.831644,32.636588,50.914977,-36.511683,-36.511683,-36.511683,-10.844159,...,-16.523753,-16.523753,-16.523753,0.0,0.0,0.0,4.455886,31.771564,14.011220,49.870088

In [ ]:
# merge with historical data

In [45]:
# label quality
import numpy as np
df_merge['label'] = np.zeros(len(df_merge))
conditions = [
    (df_merge['yhat'] <=154) & (df_merge['yhat'] >54),
    (df_merge['yhat'] <=254) & (df_merge['yhat'] >154),]
choices = [1,2]
df_merge['label'] = np.select(conditions, choices, default=0)
#print(df_merge.label)
#import matplotlib.pyplot as plt
#plt.plot(df_merge.label[:100])

In [46]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
df_merge.to_sql('frankl_pm10_table', engine, if_exists='replace')