In [80]:
# load JSON
import json
import pandas as pd
 
# hourly data 
data = pd.read_pickle('franklin-d-roosevelt/airQualityDataframe-franklin-d-roosevelt-PM10.pkl')
data = data.sort_values(by=['ds'])
data['month'] = data['ds'].dt.month
data['day'] = data['ds'].dt.day
data['hour'] = data['ds'].dt.hour
data['weekday'] = data['ds'].dt.weekday
data2 = pd.read_pickle('franklin-d-roosevelt/airQualityDataframe-franklin-d-roosevelt-temp.pkl')
data['temp'] = data2.y
data2 = pd.read_pickle('franklin-d-roosevelt/airQualityDataframe-franklin-d-roosevelt-humidity.pkl')
data['humi'] = data2.y


df = data
df = df.drop(columns="ds")
df = df.dropna()
print(len(df)*0.8)
df = df[0:1000]
df.tail()

44000.0

           y  month  day  hour  weekday  temp  humi
35669   52.0      2   12    16        1  14.7  33.6
30073   45.0      2   12    17        1  14.4  32.9
30179   63.0      2   12    18        1  14.0  33.6
45443  679.0      2   12    19        1  13.9  33.1
44542  193.0      2   12    20        1  13.9  33.1

In [81]:
# Import required libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [82]:
print(df.shape)
df.describe().transpose()

(1000, 7)

          count     mean        std   min   25%   50%   75%    max
y        1000.0  37.2370  37.849960   5.0  21.0  32.0  45.0  705.0
month    1000.0   1.3360   0.879703   1.0   1.0   1.0   2.0   12.0
day      1000.0  13.4310   8.987436   1.0   6.0  11.0  21.0   31.0
hour     1000.0  11.3190   6.850706   0.0   5.0  11.0  17.0   23.0
weekday  1000.0   2.9610   2.000870   0.0   1.0   3.0   5.0    6.0
temp     1000.0  13.6328   3.312950   5.7  12.3  14.3  15.8   20.9
humi     1000.0  49.5521   9.102974  29.8  41.9  49.9  56.6   72.5

In [77]:
target_column = ['y'] 
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
y,55000.0,47.306673,44.149533,5.000000,24.000000,36.000000,54.000000,979.0
month,55000.0,0.529715,0.285786,0.083333,0.250000,0.500000,0.750000,1.0
day,55000.0,0.504554,0.282284,0.032258,0.258065,0.516129,0.741935,1.0
hour,55000.0,0.496052,0.298263,0.000000,0.217391,0.478261,0.739130,1.0
weekday,55000.0,0.499039,0.332934,0.000000,0.166667,0.500000,0.833333,1.0
temp,55000.0,0.541450,0.144836,0.159091,0.428977,0.528409,0.656250,1.0
humi,55000.0,0.506277,0.106354,0.167715,0.431866,0.502096,0.577568,1.0

In [78]:
X = df[predictors].values
y = df[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(38500, 6)
(16500, 6)

In [79]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500)
mlp.fit(X_train,y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

/home/aety/anaconda3/envs/insight/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:921: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/aety/anaconda3/envs/insight/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:568: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

KeyboardInterrupt:

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_train,predict_train))
print(classification_report(y_train,predict_train))

In [ ]:
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))