In [105]:
# load JSON
import json
import pandas as pd
 
# hourly data 
data = pd.read_pickle('franklin-d-roosevelt/airQualityDataframe-franklin-d-roosevelt-PM10.pkl')
data = data.sort_values(by=['ds'])
data['month'] = data['ds'].dt.month
data['day'] = data['ds'].dt.day
data['hour'] = data['ds'].dt.hour
data['weekday'] = data['ds'].dt.weekday
data2 = pd.read_pickle('franklin-d-roosevelt/airQualityDataframe-franklin-d-roosevelt-temp.pkl')
data['temp'] = data2.y
data2 = pd.read_pickle('franklin-d-roosevelt/airQualityDataframe-franklin-d-roosevelt-humidity.pkl')
data['humi'] = data2.y


df = data
df = df.drop(columns="ds")
df = df.dropna()
print(len(df)*0.8)
df = df
df.tail()

44000.0

          y  month  day  hour  weekday  temp  humi
15629  27.0      9    8    14        6  22.6  30.9
58067  16.0      9    8    15        6  22.6  32.4
58550  22.0      9    8    17        6  22.7  36.7
58070  16.0      9    8    18        6  22.5  37.1
58205  14.0      9    8    19        6  22.2  38.3

In [106]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
import matplotlib.pyplot as plt

In [107]:
print(df.shape)
df.describe()

(55000, 7)

,y,month,day,hour,weekday,temp,humi
count,55000.000000,55000.000000,55000.000000,55000.000000,55000.000000,55000.000000,55000.000000
mean,47.306673,6.356582,15.641182,11.409200,2.994236,19.059053,48.298800
std,44.149533,3.429435,8.750805,6.860052,1.997604,5.098212,10.146176
min,5.000000,1.000000,1.000000,0.000000,0.000000,5.600000,16.000000
25%,24.000000,3.000000,8.000000,5.000000,1.000000,15.100000,41.200000
50%,36.000000,6.000000,16.000000,11.000000,3.000000,18.600000,47.900000
75%,54.000000,9.000000,23.000000,17.000000,5.000000,23.100000,55.100000
max,979.000000,12.000000,31.000000,23.000000,6.000000,35.200000,95.400000

In [108]:
target_column = ['y'] 
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()
df.describe()

,y,month,day,hour,weekday,temp,humi
count,55000.000000,55000.000000,55000.000000,55000.000000,55000.000000,55000.000000,55000.000000
mean,47.306673,0.529715,0.504554,0.496052,0.499039,0.541450,0.506277
std,44.149533,0.285786,0.282284,0.298263,0.332934,0.144836,0.106354
min,5.000000,0.083333,0.032258,0.000000,0.000000,0.159091,0.167715
25%,24.000000,0.250000,0.258065,0.217391,0.166667,0.428977,0.431866
50%,36.000000,0.500000,0.516129,0.478261,0.500000,0.528409,0.502096
75%,54.000000,0.750000,0.741935,0.739130,0.833333,0.656250,0.577568
max,979.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [109]:
X = df[predictors].values
y = df[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(38500, 6)
(16500, 6)

In [92]:
# DECISION TREE
dtree = DecisionTreeRegressor(max_depth=8, min_samples_leaf=0.13, random_state=3)

dtree.fit(X_train, y_train)

# Code lines 1 to 3
pred_train_tree= dtree.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_tree)))
print(r2_score(y_train, pred_train_tree))

# Code lines 4 to 6
pred_test_tree= dtree.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_tree))) 
print(r2_score(y_test, pred_test_tree))

print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

DecisionTreeRegressor(criterion='mse', max_depth=8, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=0.13,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=3, splitter='best')

In [94]:
# DECISION TREE--more tweaking
# Code Lines 1 to 4: Fit the regression tree 'dtree1' and 'dtree2' 
dtree1 = DecisionTreeRegressor(max_depth=2)
dtree2 = DecisionTreeRegressor(max_depth=5)
dtree1.fit(X_train, y_train)
dtree2.fit(X_train, y_train)

# Code Lines 5 to 6: Predict on training data
tr1 = dtree1.predict(X_train)
tr2 = dtree2.predict(X_train) 

#Code Lines 7 to 8: Predict on testing data
y1 = dtree1.predict(X_test)
y2 = dtree2.predict(X_test) 

# Print RMSE and R-squared value for regression tree 'dtree1' on training data
print(np.sqrt(mean_squared_error(y_train,tr1))) 
print(r2_score(y_train, tr1))

# Print RMSE and R-squared value for regression tree 'dtree1' on testing data
print(np.sqrt(mean_squared_error(y_test,y1))) 
print(r2_score(y_test, y1)) 

# Print RMSE and R-squared value for regression tree 'dtree2' on training data
print(np.sqrt(mean_squared_error(y_train,tr2))) 
print(r2_score(y_train, tr2))

# Print RMSE and R-squared value for regression tree 'dtree2' on testing data
print(np.sqrt(mean_squared_error(y_test,y2))) 
print(r2_score(y_test, y2))

In [110]:
# RANDOM FOREST
#RF model
model_rf = RandomForestRegressor(n_estimators=500, oob_score=True, random_state=100)
model_rf.fit(X_train, y_train) 
pred_train_rf= model_rf.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_rf)))
print(r2_score(y_train, pred_train_rf))

pred_test_rf = model_rf.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_rf)))
print(r2_score(y_test, pred_test_rf))

/home/aety/anaconda3/envs/insight/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

11.965133793988763
0.9275769665064671
32.43857326853979
0.4416005274777868