In [19]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
from datetime import datetime

# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics
username = 'postgres'
password = 'yanggnay'     # change this
host     = 'localhost'
port     = '5432'            # default port that postgres listens on
db_name  = 'frankl_pm10_db'

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

postgresql://postgres:yanggnay@localhost:5432/frankl_pm10_db
True

In [24]:
birth_data = pd.read_pickle('franklin-d-roosevelt/PM10_hourly_forecast.pkl')
birth_data.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2018-06-20 05:00:00,54.204325,31.707296,128.671753,54.204325,54.204325,28.053050,28.053050,28.053050,21.723107,21.723107,21.723107,6.329943,6.329943,6.329943,0.0,0.0,0.0,82.257375
1,2018-06-20 06:00:00,54.238729,25.572807,121.330753,54.238729,54.238729,19.001730,19.001730,19.001730,12.642391,12.642391,12.642391,6.359339,6.359339,6.359339,0.0,0.0,0.0,73.240459
2,2018-06-20 07:00:00,54.273134,16.345230,110.425824,54.273134,54.273134,8.569163,8.569163,8.569163,2.179646,2.179646,2.179646,6.389517,6.389517,6.389517,0.0,0.0,0.0,62.842296
3,2018-06-20 08:00:00,54.307538,11.462625,104.378739,54.307538,54.307538,3.431596,3.431596,3.431596,-2.987282,-2.987282,-2.987282,6.418878,6.418878,6.418878,0.0,0.0,0.0,57.739134
4,2018-06-20 09:00:00,54.341942,11.081422,104.533034,54.341942,54.341942,5.065745,5.065745,5.065745,-1.380145,-1.380145,-1.380145,6.445890,6.445890,6.445890,0.0,0.0,0.0,59.407687

In [ ]:
# Merge with historical data

In [9]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
birth_data.to_sql('frankl_pm10_table', engine, if_exists='replace')