In [74]:
# load JSON
import json
import pandas as pd
 
# hourly data 
data = pd.read_pickle('franklin-d-roosevelt/airQualityDataframe-franklin-d-roosevelt-PM10.pkl')
data = data.sort_values(by=['ds'])
data['month'] = data['ds'].dt.month
data['day'] = data['ds'].dt.day
data['hour'] = data['ds'].dt.hour
data['weekday'] = data['ds'].dt.weekday
data2 = pd.read_pickle('franklin-d-roosevelt/airQualityDataframe-franklin-d-roosevelt-temp.pkl')
data['temp'] = data2.y
data2 = pd.read_pickle('franklin-d-roosevelt/airQualityDataframe-franklin-d-roosevelt-humidity.pkl')
data['humi'] = data2.y


df = data
df = df.drop(columns="ds")
df = df.dropna()
print(len(df)*0.8)
df.tail()

44000.0

          y  month  day  hour  weekday  temp  humi
15629  27.0      9    8    14        6  22.6  30.9
58067  16.0      9    8    15        6  22.6  32.4
58550  22.0      9    8    17        6  22.7  36.7
58070  16.0      9    8    18        6  22.5  37.1
58205  14.0      9    8    19        6  22.2  38.3

In [75]:
# Import required libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [76]:
print(df.shape)
df.describe().transpose()

(55000, 7)

           count       mean        std   min   25%   50%   75%    max
y        55000.0  47.306673  44.149533   5.0  24.0  36.0  54.0  979.0
month    55000.0   6.356582   3.429435   1.0   3.0   6.0   9.0   12.0
day      55000.0  15.641182   8.750805   1.0   8.0  16.0  23.0   31.0
hour     55000.0  11.409200   6.860052   0.0   5.0  11.0  17.0   23.0
weekday  55000.0   2.994236   1.997604   0.0   1.0   3.0   5.0    6.0
temp     55000.0  19.059053   5.098212   5.6  15.1  18.6  23.1   35.2
humi     55000.0  48.298800  10.146176  16.0  41.2  47.9  55.1   95.4

In [77]:
target_column = ['y'] 
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
y,55000.0,47.306673,44.149533,5.000000,24.000000,36.000000,54.000000,979.0
month,55000.0,0.529715,0.285786,0.083333,0.250000,0.500000,0.750000,1.0
day,55000.0,0.504554,0.282284,0.032258,0.258065,0.516129,0.741935,1.0
hour,55000.0,0.496052,0.298263,0.000000,0.217391,0.478261,0.739130,1.0
weekday,55000.0,0.499039,0.332934,0.000000,0.166667,0.500000,0.833333,1.0
temp,55000.0,0.541450,0.144836,0.159091,0.428977,0.528409,0.656250,1.0
humi,55000.0,0.506277,0.106354,0.167715,0.431866,0.502096,0.577568,1.0

In [78]:
X = df[predictors].values
y = df[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(38500, 6)
(16500, 6)

In [ ]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500)
mlp.fit(X_train,y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

/home/aety/anaconda3/envs/insight/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:921: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_train,predict_train))
print(classification_report(y_train,predict_train))

In [ ]:
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))