In [1]:
import pickle

# open a file, where you stored the pickled data
file = open('auber/PM10_forecast.pkl', 'rb')

# dump information to that file
data = pickle.load(file)

# close the file
file.close()
data.head()
#print(type(data))

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2012-12-31 19:00:00,320.746187,212.269710,430.847270,320.746187,320.746187,4.906540,4.906540,4.906540,-25.168847,...,13.539065,13.539065,13.539065,16.536322,16.536322,16.536322,0.0,0.0,0.0,325.652728
1,2012-12-31 20:00:00,320.720164,181.890637,403.343692,320.720164,320.720164,-23.388209,-23.388209,-23.388209,-53.183645,...,13.407401,13.407401,13.407401,16.388035,16.388035,16.388035,0.0,0.0,0.0,297.331955
2,2012-12-31 21:00:00,320.694140,152.475344,366.728483,320.694140,320.694140,-57.658645,-57.658645,-57.658645,-87.125701,...,13.226999,13.226999,13.226999,16.240058,16.240058,16.240058,0.0,0.0,0.0,263.035495
3,2012-12-31 22:00:00,320.668116,131.107757,355.727096,320.668116,320.668116,-76.281221,-76.281221,-76.281221,-105.379039,...,13.005423,13.005423,13.005423,16.092395,16.092395,16.092395,0.0,0.0,0.0,244.386895
4,2012-12-31 23:00:00,320.642092,153.545851,375.728819,320.642092,320.642092,-63.049728,-63.049728,-63.049728,-91.744969,...,12.750189,12.750189,12.750189,15.945052,15.945052,15.945052,0.0,0.0,0.0,257.592364

In [2]:
# trying to read json using panda
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

# Define a database name 
# Set your postgres username/password, and connection specifics
username = 'postgres'
password = 'yanggnay'     # change this
host     = 'localhost'
port     = '5432'            # default port that postgres listens on
db_name  = 'auber_pm10_db'

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

postgresql://postgres:yanggnay@localhost:5432/auber_pm10_db
True

In [4]:
# read a database from CSV and load it into a pandas dataframe
pm10_data = pd.read_pickle('auber/PM10_forecast.pkl')

In [5]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
pm10_data.to_sql('auber_pm10_table', engine, if_exists='replace')

In [8]:
# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = 'auber_pm10_db', user = 'postgres', password = 'yanggnay', port = '5432', host = 'localhost')

# query:
sql_query = """
SELECT * FROM auber_PM10_table WHERE ds>'2019-12-30 00:00:00';
"""
pm10_data_from_sql = pd.read_sql_query(sql_query,con)
pm10_data_from_sql.head()

,index,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,58663,2019-12-30 19:00:00,183.320739,-649.381432,1032.777347,-643.909552,993.566242,11.344938,11.344938,11.344938,...,13.539065,13.539065,13.539065,22.974719,22.974719,22.974719,0.0,0.0,0.0,194.665676
1,58664,2019-12-31 19:00:00,183.407780,-638.271377,991.391875,-646.897750,998.680170,2.982214,2.982214,2.982214,...,8.898567,8.898567,8.898567,19.252494,19.252494,19.252494,0.0,0.0,0.0,186.389994
2,58665,2020-01-01 19:00:00,183.494822,-641.468245,994.449768,-649.885948,1003.738143,1.248073,1.248073,1.248073,...,10.765574,10.765574,10.765574,15.651346,15.651346,15.651346,0.0,0.0,0.0,184.742895
3,58666,2020-01-02 19:00:00,183.581863,-625.912301,1012.897005,-652.874146,1008.654294,2.652487,2.652487,2.652487,...,15.578374,15.578374,15.578374,12.242960,12.242960,12.242960,0.0,0.0,0.0,186.234350
4,58667,2020-01-03 19:00:00,183.668904,-659.089755,979.414240,-655.862344,1012.455064,-15.278912,-15.278912,-15.278912,...,0.793935,0.793935,0.793935,9.096000,9.096000,9.096000,0.0,0.0,0.0,168.389993